<script setup>
import Navbar from '@vuepress/theme-default/components/Navbar.vue';
import ParentLayout from '@vuepress/theme-default/layouts/Layout.vue';

import { usePageFrontmatter } from '@vuepress/client';

const frontmatter = usePageFrontmatter();

</script>

<template>
  <div class="theme-container" v-if="frontmatter.is_viewer">
    <Navbar></Navbar>
    <main class="page viewer-page">
      <Content />
    </main>
  </div>
  <ParentLayout v-else :class="{'no-sidebar': frontmatter.hide_sidebar}">
    <template #page-bottom>
      <Footer/>
    </template>
  </ParentLayout>
  <Footer v-if="frontmatter.home"></Footer>
</template>
