<template>
  <div class="bg-container">
    <div class="container">
      <div id="viewer"></div>
    </div>
  </div>
</template>

<script>

import { tidoConfig } from '../utilities/tido-config';

// `usePageData` should be used to determine the `language` constant below,
// but calling `usePageData()` throws `Uncaught Error: pageData() is called without provider.`
// Until this is fixed, `usePageData` cannot be used.
// import { usePageData } from '@vuepress/client';
// const page = usePageData();

export default {
  mounted() {
    
    // Vite does not find variables declared in `.env` / `.env.local`,
    // so the `baseUrlApi` is hardcoded here.
    // const baseUrlApi = import.meta.env.VITE_APP_BASE_URL_API;
    const baseUrlApi = "https://ahikar-dev.sub.uni-goettingen.de/api";
    
    if (!baseUrlApi) return;

    // Since `usePageData` cannot be used, the `language` constant is determined via `window.location`.
    // const language = page.value.path.split('.')[0].replace('/', '');
    const language = window.location.pathname.split('.')[0].replace('/', '');

    const collection = `${baseUrlApi}/textapi/ahiqar/${language}/collection.json`;

    window.tido = new window.Tido({
      ...tidoConfig,
      collection
    });
  }
}
</script>

<style lang="scss" scoped>
.bg-container {
  background: #eee;
  height: calc(100vh - var(--navbar-height));

  html.dark & {
    background: #212123;
  }
}

@media (max-width: 1903px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 1860px;
  }
}

#viewer {
  width: 100%;
  height: calc(100vh - 96px);
}

.tido .header, .tido .panels-target {
  padding-left: 0;
  padding-right: 0;
}

.tido .flex {
  flex: unset;
  max-width: unset;
}

.tido .text-h1 {
  font-size: 1.7rem !important;
}

.tido .text-h2 {
  font-size: 1.2rem !important;
}

.tido .col {
  padding: 0 !important;
}

.tido .row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.tido .panels-toggle {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  padding-bottom: 0;

  .row {
    flex-grow: 0;
  }
}
.tido .text-body1 {
  font-size: 1rem !important;
}
</style>
